/*
October 1, 2014
Copyright © 2014 Alex Simoneaux, Kaylin Hunter
Elon University, Elon, NC, 27244
*/

*{
    font-family: Arial;
}

body{
    border: 2px solid darkblue;    
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

footer{
    border-top: 2px solid darkblue;
    padding-left: 30px;
}

form{
    padding-bottom: 20px;   
    padding-left: 30px;
}

h1{
    color: darkblue;
    font-size: 28px;
    margin: 0px;
    padding-bottom: 30px;    
    padding-left: 30px;    
    padding-top: 50px;
}

h2{
    color: darkblue;    
    font-size: 28px;    
    margin: 0px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-top: 50px;
    
}

input{
    width:250px;
}

label{
    float:left;
    padding-left:5px;   
    padding-right:50px;
    text-align:left;
    width:10em;
    
}

table{
    padding-bottom: 30px;
    padding-left: 30px;
}

#button{
    margin-top: 5px;
    width: 70px;
}

#col2{
    padding-left: 70px;
}

#error_p{
    padding-left: 30px;
}